/* TO ALL WEB DEVELOPMENT MEMBERS: DO NOT REMOVE/DELETE ANY OF THE FOLLOWING CODE WITHOUT PERMISSION */
/* Affects ALL aspects of Code */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Times New Roman';
    margin: 0;
    padding: 0;
    height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
}

main {
    text-align: center;
    padding: 20px 0;
}

footer {
    background-color: #959595;
    text-align: center;
    padding: 20px 0;
    flex-shrink: 0;
    z-index: 1; /* Add this line */
    position: relative; /* Add this line */
}

button {
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: black;
    border-color: #7bb0ff;
    :hover {
        color: #fff;
        background-color: #0d6efd;
        border-color: #0d6efd;
    }

}

/* Minor Adjustments that are used in multiple areas */

.left {
    text-align: left;
    padding-left: 20px;
}

.right {
    align-self: flex-end;
    padding-right: 20px;
}

.header {
    font-size: 60px;
}

@keyframes brighten {
    0% {
        filter: brightness(0%);
    }
    100% {
        filter: brightness(100%);
    }

}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes flyIn {
    from {
        top: 100%;
        opacity: 0;
    }
    to {
        top: 40%; 
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes flyInButton {
    from {
        bottom: 100%;
    }
    to {
        bottom: 20px;
    }
}

@keyframes flyIn2 {
    from {
        top: 100%;
        opacity: 0;
    }
    to {
        top: 50%;
        transform: translate(-50%,);
        opacity: 1;
    }
}


.logo {
    float: left;
    padding-left: 20px;
    margin-top: 10px;
}

.white-nodecor {
    color: white;
    text-decoration: none;
}

.icons {
    text-decoration: none;
    width: 30px;
    height: 30px;
}


.padding-right {
    padding-right: 50px;
}

.padding-left {
    padding-left: 50px;
}

.rounded-corners {
    border-radius: 10px;
}

/* Somewhat Specific */

#OurMission, #AboutUs, #FAQ {
    color: white;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.header-text {
    position: absolute;
    top: 100%; /* Start from below the visible area */
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    animation-delay: flyin 2.5s;
    animation: flyIn 2s 1s forwards, brighten 2s 1s forwards;
    font-size: 60px;
    opacity: 0;
}

.text {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    animation: flyIn2 2.3s 2.3s forwards, brighten 2.5s 2.3s forwards;
    font-size: 20px;
    opacity: 0;
}

/* Quite Specific */

#scrollToTopButton {
    display: none;
    position: fixed; /* Stay in place */
    bottom: 20px; /* Position the button */
    right: 30px; 
    z-index: 2; /* Make sure it does not hide behind content */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #a5d0e4; /* Set a background color */
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    animation: flyInButton 1s forwards;
}

@keyframes flyInHeaders {
    from {
        transform: translateY(100vh);
        opacity: 0;
    }
    to {
        transform: translateY(50vh);
        opacity: 1;
    }
}

#scrollToTopButton.visible {
    display: block;
}


#scrollToTopButton:hover {
    background-color: #0059df; /* Add a dark-grey background on hover */
}

.backgroundImage {
    width: 100%; /* Set the width of each div to 100% of the viewport width */
    background-size: cover;
    background-position: center;
    background-image: url('images/websitebg.jpg');
}

#navBar {
    color: white;
}

#dashboard {
    background-image: url("images/dashboard-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top; /* This will align the top of your image with the top of the webpage */
    height: 1808px;
    width: 100%;
    position: relative;
}

.content {
    flex: 1 0 auto;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navigation {
    position: absolute;
    top: 15px; /* Moves the navigation bar 10 pixels higher */
    right: 20px;
    color: black; /* Text color */
    z-index: 1; /* Ensures the navigation stays on top */
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s 3.5s forwards;
}


.button-container {
    display: flex;
    justify-content: flex-end;
}

.button-container button {
    margin-right: 10px;  /* Adjust as needed */
}
/* DO NOT ADD OR REMOVE ANY OF THE CSS ABOVE IF YOU WANT TO EDIT IT LET ME KNOW FIRST. */

/* Irene Add your CSS here */

/* Uday Add Your CSS Here */

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 650px);
    gap: 100px;
    
}

.grid-img {
    padding: 20px;
    text-align: center;

}

.grid-img img{
    border-radius: 10%;
    border: 3px solid white;
}

.grid-txt {
    padding: 20px;
    padding-top: 0px;
    padding-left: 30px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(255,255,255,0.1);
}


.explanation {
    font-size: 24px;
}

.subheading {
    font-size: 34px;
}

:root {
    --arrow-color: rgba(0,0,0,0.3);
}

.speech-bubble {
    position: relative;
    padding: 15px;
    border-radius: 10px;
    padding: 20px;
    padding-top: 0px;
    padding-left: 30px;
    border-radius: 10px;
    background-color:rgba(0,0,0,0.3);
    
    transition: transform 0.3s ease;
}

.speech-bubble:before {
    content: '';
    position: absolute;
    top: 40%;
    right: -9.15%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px;
    border-color: transparent transparent transparent var(--arrow-color);
}

.speech-bubble:hover {
    transform: scale(1.1);
    background: url('star.png') no-repeat bottom right,#6D64FF;
    background-size: 10% auto;
    --arrow-color: #6d64ff;
    box-shadow: -5px 10px 5px #2f2d7291;
}

#TheTeam p {
    margin-top: 10px;    /* adjust as needed */
    margin-bottom: 10px; /* adjust as needed */
}

.lightgray {
    color: rgb(105, 105, 105);
}

.bigtext {
    font-size: 40px;
}

.container {
    width: 100%;
}

.container2 {
    width: 100%;
    margin-left: 100px;
}
  
.centered-images {
    display: flex;
    justify-content: center;
    gap: 20px;
}
  
.center-text {
    text-align: center;
}
  
.full-width-images {
    display: flex;
    justify-content: space-between;
}

.fixed-dimensions {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 100px;
    display: block;
}

.NameText {
    font-size: 30px;
}

.TitleText {
    font-size: 20px;
}

.paddingRightTeam {
    margin-right: 250px;
}

.paddingLeftTeam {
    margin-left: 250px;
}

.paddingLeftAdmin {
    margin-left: 125px;
}
  
.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
    max-width: calc(2 * (200px + 30px));
    margin-left: 20px;

}
  
.image-grid img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
}

.container p {
    font-size: 18px;
    color: #333;
    margin-left: 20px;
    text-align: center;
}

.centered-text {
    text-align: center;
}

.image-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.text-adjust {
    transform: translateX(-10px);
}

.specificPadding1 {
    margin-right: 110px;
}

.head-text {
    text-align: center;
    margin-top: 20px;
}

.image-text {
    position: relative;
    display: inline-block;
    text-align: center;
}
  
.centered-text2 {
    width: 100%;
}

#OurMission{
    justify-content: center;
    margin: 0px 50px!important;

    text-align: center;
    font-size:large;
    line-height:25px;
}
#OurMissionhackathon{
    font-size: larger;
    font-weight:bold;
}

#Sponsors{
    justify-content: center;
    text-align: center;
    
    margin: 0px 50px !important;
    line-height:25px;
    
}

#SponsorImages, #Foundance{
    width: 200px;
    margin: 0px 20px 20px;
    resize:both;
    border-radius:15%;
    transition: all 0.2s ease-in-out;
}

#SponsorImages:hover, #Foundance:hover{
    scale: 1.1;
}

#Foundance {
    width: 40%;
    height: 40%;
}

#SponsorAlign{
    margin-bottom:40px;
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;

}
.sponsorButton{
    display:block;
    background-image:url('images/healthcarecoding\ graphic.png');
    background-size:cover;
    border-radius: 40px;
    height: 70px;
    width: 220px;
    margin-top: 20px;
    opacity: 1;
    transition:all 0.2s ease-in-out;
}

.sponsorButtonText {
    text-decoration: none;
}

.sponsorButton:hover{
    opacity: 85%;
    scale:1.1;
}

.container3 {
    display: flex;
    justify-content: space-around;
}

.centered-image-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin: 0 auto;
}

.centered {
    justify-content: center;
}

.specificPadding2 {
    margin-right: 125px;
}

.centered-text3 {
    text-align: center;
    width: 80%; /* adjust as needed */
    margin: 0 auto; /* centers the text block */
    display: block;
}

.marginTop {
    margin-top: 100px;
}

.specificPadding3 {
    margin-right: 75px;
}

h2 {
    margin: 20px auto 80px;
    font-size: 38px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.5;
  }
  
  details {
    width: 75%;
    min-height: 5px;
    max-width: 700px;
    padding: 45px 70px 45px 45px;
    margin: 0 auto;
    position: relative;
    font-size: 22px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 15px;
    box-sizing: border-box;
    transition: all .3s;
    background-color: rgba(255, 255, 255, 0.2); 
  }
  
  details + details {
    margin-top: 20px;
  }
  
  details[open] {
    min-height: 50px;
    background-color: #f6f7f8;
    box-shadow: 2px 2px 20px rgba(0,0,0,.2);
  }
  
  details p {
    color: #96999d;
    font-weight: 300;
  }
  
  summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
  }
  
  summary:focus {
    outline: none;
    
  }
  
  summary:focus::after {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 0 5px #7bb0ff;
  }
  
  summary::-webkit-details-marker {
    display: none
  }
  
  .control-icon {
    fill: black;
    transition: .3s ease;
    pointer-events: none;
  }
  
  .control-icon-close {
    display: none;
  }
  
  details[open] .control-icon-close {
    display: initial;
    transition: .3s ease;
  }
  
  details[open] .control-icon-expand {
    display: none;
  }


.blackText {
    color: black;
}

.control-icon-expand path {
    fill: rgba(0, 0, 0, 1); /* Change the last value to your desired opacity */
}

.slightlyOpaque {
    background-color: rgba(255, 255, 255, 0.5);
}

#contact {
  height: 1300px;
  width: 100%;
}

#HeaderBox {
  width: 100%sponsorButton;
  height: 434px;
  background-image: url('images/small\ background.jpg');
}

#ContactContainer {
  display: flex;
  width: 100%;
  padding-left: 30px;
  background-color: #B8A7FF;
}

#Emails {
  width: 50%;
  height: 300px;

  text-align: left;
  background-color: #B8A7FF;
}

#Meeting {
  width: 50%;
  height: 530px;
  text-align: center;
  background-color: #FFABF7;
}

#CatchyLine {
  font-size: 20px;
}

#ContactUsHeader {
  font-size: 50px;
}

#EmailHeader {
    font-size: 35px;
}

#CallUs {
    margin-top: 140px;
    position: absolute;
    font-size: 35px;
}

#CodersImage, #DedicatedTeam, #RishikPresentation, #Skriblio {
    height: 100%;
    width: 100%;
}

#MeetWithUs {
    text-align: center;
}

.image-text img, .image-textcontainer img {
    transition: transform 0.3s ease;
}

.image-text img:hover, .image-textcontainer img:hover {
    transform: scale(1.1);
}

.line {
    font-size: 35px;
    text-align: left;
    overflow: hidden;
}

#emailSection {
    height: 150px;
    width: 100%;
}

button #MeetWithUs {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

button #MeetWithUs:hover, button #MeetWithUs:hover {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

button #MeetWithUs:hover {
  transform: translateY(-1px);
}

button #MeetWithUs:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

#MeetingText {
    font-size: 25px;
}

img {
    background-position: center;
}

.button-container {
    list-style: none;
    padding: 0;
    margin: 0;
}

.button-container li {
    display: block; /* Change to block to make buttons appear below each other */
    margin-bottom: 20px; /* Add margin to separate buttons */
}

.center {
    display: block;

}

#WebsiteBottomGradient {
    width: 100%;
    background-image: linear-gradient(rgba(255,0,0,0), rgba(149, 149, 149, 1));
}
